html {
    overflow-y: scroll
}

#main,
#header,
aside,
img {
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
    /* font-family: monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

pre {
    background: #e0e0e0;
    border: 1px solid #d0d0d0
    border-radius: 0.4em;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#header {
    font-family: monospace;
    text-align: center;
}

#footer {
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
    text-align: left;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    /* font-family: "Times New Roman", Times, serif; */
    font-family: Roboto, Open Sans, Arial, Helvetica, sans-serif;
    /* font-family: "Lucida Console", "Courier New", monosp */ace;
}
