html {
    overflow-y: scroll
}

#main,
#header,
aside {
    max-width: 750px;
    margin: 0 auto;
    padding: 0;
    /* font-family: monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
}

img {
    max-width: 100%;
    padding: 10px;
}

pre {
    background: #e0e0e0;
    border: 1px solid #d0d0d0
    border-radius: 0.4em;
    padding: 10px;
}

blockquote {
    background: #e0e0e0;
    /* border: 1px solid #d0d0d0 */
    /* border-radius: 0.4em; */
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#header {
    font-family: monospace;
    text-align: center;
}

#footer {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    font-family: monospace;
    text-align: center;
}

a {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grayscale {
    /* -webkit-filter: grayscale(100%); */
    /* -moz-filter: grayscale(100%); */
    /* -ms-filter: grayscale(100%); */
    /* filter: grayscale(100%); */
    font-fmaily: Crimson, Georgia, serif
    /* font-family: "Times New Roman", Times, serif; */
    /* font-family: "Times New Roman", Times, serif; */
    /* font-family: Roboto, Open Sans, Arial, Helvetica, sans-serif; */
    /* font-family: "Lucida Console", "Courier New", monosp */
}
